


.about{



	background-image: url('../Images/coffeeabout.jpg');
	background-size: cover;
	background-repeat: no-repeat;
padding-bottom:150px;
padding-top: 50px;

}
#main
{
	background-color:#c4986c;
	padding-bottom:150px;
	padding-top: 50px;

}
#boxes
{
	max-width: 1000px;
	margin: 0 auto;
}

.main-title
{
	
	text-align: center;
	padding-bottom: 20px;

}



.intro-text
{
	padding-bottom: 100px;
	color: rgb(240,240,240);
	text-align: center;
	font-size: 25px;
	letter-spacing: 1px;
	text-shadow: black 1px 2px 2px;
}
.box-title
{
	text-align: center;
	letter-spacing: 2px
	color:white;
}

.info
{
	text-align: center;
	color: white;
	letter-spacing: 1px;
	padding-bottom: 80px;
	font-weight: 300;
}

.box
{
	padding-top: 50px;
	padding-bottom: 100px;
}
.box.p
{
	background-image: url('../Images/coffeeabout.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
}
.box.r
{
	background-image: url('../Images/coffee-beans.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}
.box.g
{
	background-color: green;
}
.box.b
{
	background-color: blue;
}

.img-responsive
{
	margin: 0 auto;
}

.btn.btn-lg

{
;

}

.featurette-divider
{
	margin: 30px 0 50px;
}






h1.aboutcoffee{
	text-align: center;
	font-size: 4em;
	color: black;

}

div.contentabout{
	color: black;
	padding: 20px;
	margin-top: 100px;
	font-size: 1.5em;
	margin-bottom: 200px;
	
	

}


.coffee-types{

	background-image: url('../Images/coffee-beans.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}


.coffee-selection{
background-color: rgba(155, 133, 121, 0.7);
padding: 20px;
margin-bottom: 50px;
border-radius: 50px;
}

/*Types of Coffee*/

.heading,
.main-title{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 4.5em;
	color: #ffffff;
	margin-bottom: 40px;
}

.type,
.box-title
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 3em;
	color: #ffffff;
}

.caption{
	text-align: center;
	font-size: 1em;
	color: #ffffff;
	padding-bottom: 15px;
}

.destinations{
  margin-bottom: 20px;
  text-align: center;
}


.img-circle{
	border: solid .8em #C49A6C;
}

